@using System.Runtime.InteropServices
@model IEnumerable<MusicStoreEntity.Album>

@{
    ViewBag.Title = "浏览专辑";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
@*判断读取的标题是否为空，在显示*@
@{
    var album = Model.FirstOrDefault();
    var genreName = album != null?album.Genre.Name:"找不到" ;
}
<h3><em>@genreName</em>专辑</h3>
<div>
    <ul class="album-list">
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("detail", "Store", new {id = item.ID})">
                    <img alt="@item.Title" src="@item.AlbumArtUrl" />
                    <span>@item.Title - @item.Artist.Name</span>
                </a>
            </li>

        }
    </ul>
</div>
