@model MusicStore.ViewModels.ChangePwdViewModel

@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<div class="box">
    <h2>修改密码</h2>
    <br />
    @using (Html.BeginForm("ChangePassWord", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "密码修改失败，请检查输入是否有误.")
        <fieldset>
            <div>
                @*显示display特性*@
                @Html.LabelFor(x => x.OriginalPwd)
                <br />
                @Html.TextBoxFor(x => x.OriginalPwd, new { autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.OriginalPwd)
            </div>
            <div>
                @*显示display特性*@
                @Html.LabelFor(x => x.NewPassWord)
                <br />
                @Html.PasswordFor(x => x.NewPassWord, new { autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.NewPassWord)
            </div>
            <div>
                @*显示display特性*@
                @Html.LabelFor(x => x.ConfirmNewPassWord)
                <br />
                @Html.PasswordFor(x => x.ConfirmNewPassWord, new { autocomplete = "off" })
                @Html.ValidationMessageFor(x => x.ConfirmNewPassWord)
            </div>
            <br />
            <p><input type="submit" value="提交" class="btn btn-success" /></p>
        </fieldset>
    }
</div>