@using MusicStore.ViewModels
@model MusicStore.ViewModels.LoginViewModel
@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    var msg = "";
    if (ViewBag.loginUserStatus != null)
    {
        msg = (ViewBag.LoginUserStatus as LoginUserStatus).Message;
    }
}
<div class="box">
    <h2>用户登录</h2>
    <br />
    <p>如果没有用户清点一下 @Html.ActionLink("这里", "Register")</p>
    @using (Html.BeginForm("login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div>
            <fieldset>
                <legend> 账户信息 </legend>
                <div>
                    @*显示display的特性*@
                    @Html.LabelFor(x => x.UserName)
                </div>
                <div>
                    @Html.TextBoxFor(x => x.UserName, new { placeholder = "请输入账号",value="yd", autocomplete = "off"})
                    @Html.ValidationMessageFor(x => x.UserName)
                </div>
                <div>
                    @*显示display的特性*@
                    @Html.LabelFor(x => x.PassWord)
                </div>
                <div>
                    @Html.PasswordFor(x => x.PassWord, new { placeholder = "请输入密码",value="123456"})
                    @Html.ValidationMessageFor(x => x.PassWord)
                </div>
                <br />
                <p class="text-danger">
                    @msg
                </p>
                <p>
                    <input type="submit" value="登录" class="btn btn-success" />
                </p>
            </fieldset>
        </div>
    }
</div>