@model  MusicStore.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "我的购物车";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<h3 style="color:black"><i class="glyphicon glyphicon-shopping-cart" ></i>浏览您的购物车</h3>
<div class="box">
    <p id="botton">
        @Html.ActionLink("马上购买", "buy", "Order")
    </p>
    <table id="table1">
        <tr>
            <th>专辑名称</th>
            <th>单价</th>
            <th>数量</th>
            <th>操作</th>
        </tr>
        <tbody id="tbCart">
            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@Html.ActionLink(item.Album.Title, "detail", "Store", new { id = item.Album.ID }, null)</td>
                    <td>
                        @item.Album.Price.ToString("C")
                    </td>
                    <td>
                        <span  onclick="remCount('@item.ID');">-</span>@item.Count<span  onclick="addCount('@item.ID');">+</span>
                    </td>
                    <td>
                        <a href="#" onclick="removeCart('@item.ID');">
                            <i class="glyphicon glyphicon-remove">我不喜欢这个</i>
                        </a>
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td>总价</td>
                <td>@Model.CartTotalPrice.ToString("C")</td>
            </tr>
        </tbody>
    </table>
</div>

<script>

    function remCount(id) {
        //ajax提交到服务器端进行购物车项的删除
        $.ajax({
            type: "post",
            async: true,
            url: '../../ShoppingCart/remCount',
            data: { id: id },
            dataType: 'json',
            success: function (data) {
                //视图中进行局部页面的刷新
                $("#tbCart").html(data);
            }
        });
    }
    function addCount(id) {
        //ajax提交到服务器端进行购物车项的删除
        $.ajax({
            type: "post",
            async: true,
            url: '../../ShoppingCart/addCount',
            data: { id: id },
            dataType: 'json',
            success: function (data) {
                //视图中进行局部页面的刷新
                $("#tbCart").html(data);
            }
        });
    }
    function removeCart(id) {
        //ajax提交到服务器端进行购物车项的删除
        $.ajax({
            type: "post",
            async: true,
            url: '../../ShoppingCart/RemoveCart',
            data: { id: id },
            dataType: 'json',
            success: function (data) {
                //视图中进行局部页面的刷新，<tbody>
                $("#tbCart").html(data);
                //2s后重新刷新此区域
                setInterval(function () {
                    location.reload();
                },
                    1000);
            }
        });
    }
</script>